/* --- mobile @media start --- */

@media (max-width: 768px) {

    /* --- mobile settings start --- */

    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden; 
        max-width: 100%;
    }

    img {
        max-width: 100%; 
        height: auto;
    }

    body {
        font-size: 16px; 
        line-height: 1.5;
        overflow-x: hidden; 
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box; 
    }

    .container {
        margin: 0 15px;
    }
    
    /* --- mobile settings end --- */

    /* ------------------------ */

    /* --- about section start --- */

    .about-img__holder{
        display: none;
    }

    .about-box {
        padding: 25px 10px;
        margin: 0 auto; 
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .about__title {
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;
    }

    .about_text {
        width: 90%; 
        font-size: 18px;
        margin-top: 15px;
        line-height: 27px;
    }

    .about-box, .about__title, .about_text {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    /* --- about section end --- */

    /* ------------------------ */

    /* --- header section start --- */

    .header, .header-box {
        flex-direction: column;
        gap: 15px;
        padding: 10px;
    }

    .logo-holder {
        font-size: 20px;
    }

    .nav__list {
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }

    /* --- header section end --- */

    /* ------------------------ */

    /* --- portfolio section start --- */

    .portfolio-box, .portfolio__title, .portfolio__desc {
        width: 100%; 
        margin: 0 auto; 
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .portfolio__title {
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;
    }

    .portfolio__desc {
        width: 90%; 
        font-size: 18px;
        margin-top: 15px;
        line-height: 27px;
    }

    /* --- portfolio section end --- */

    /* ------------------------ */

    /* --- skills section start --- */

    .skills__title.list {
        text-align: center;
        margin-right: 0;
    }

    .skills-box .right,
    .skills-box .left {
        margin: 20px 0;
    }

    .skills-box {
        display: block;
    }

    .skills__title {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .skill__nav {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: 20px;
    }

    .skill-name {
        font-size: 14px; 
        padding: 5px 10px;
    }

    /* --- skills section end --- */

    /* ------------------------ */

    /* --- hobbies section start --- */

    .hobbies__list {
        width: 100%;
        padding: 0 15px;
        position: static;
    }

    .hobbies__name {
        font-size: 16px;
    }

    .hobbies__box img {
        width: 24px;
    }

    .hobbies__holder {
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        border-radius: 5px;
    }

    .hobbies__box {
        margin: 5px;
        width: auto;
        min-width: 85px;
    }

    /* --- hobbies section end --- */

    /* ------------------------ */

    /* --- footer section start --- */

    .footer-title {
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;
    }

    /* --- footer section end --- */

    /* ------------------------ */

    /* --- works section start --- */

    .works__holder {
        width: 100%; 
        margin: 0 auto; 
        padding: 5px 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .works__title {
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;
    }

    .works__title img {
        width: 25px;
    }

    .work__subtitle {
        font-size: 27px;
    }

    .work__desc {
        width: 90%; 
        font-size: 18px;
        margin-top: 15px;
        line-height: 27px;
    }

    /* --- works section end --- */

    /* ------------------------ */

    /* --- experience section start --- */

    .expirience__time, .education__time {
        font-size: 18px;
    }

    .expirience__info, .education__info {
        font-size: 14px;
    }

    .left {
        width: 100%;
        margin: 20px 0;
        padding: 0 15px;
    }

    .expirience__holder {
        background-size: 36px;
        padding: 36px 0 36px 45px;
        margin-left: 10px;
    }

    .expirience__title, .education__title {
        font-size: 27px;
    }

    /* --- experience section end --- */
    
}
/* --- mobile @media end --- */

/* ------------------------ */

/* --- table @media start --- */

@media (min-width: 769px) and (max-width: 1024px) {
    /* --- main settings start --- */
    .container {
        max-width: 90%;
        padding: 0 20px;
    }
    /* --- main settings end --- */

    /* ------------------------ */

    /* --- header start --- */
    .header-box {
        gap: 100px;
    }

    .nav__list {
        gap: 25px;
    }
    /* --- header end --- */

    /* ------------------------ */

    /* --- portfolio main start --- */
    .portfolio__title {
        font-size: 90px;
    }

    .portfolio__desc {
        width: 90%;
    }
    /* --- portfolio main end --- */

    /* ------------------------ */

    /* --- about start --- */
    .about-box {
        gap: 30px;
    }

    .about-img__holder img {
        width: 400px;
    }

    .about_text {
        width: 350px;
    }
    /* --- about end --- */

    /* ------------------------ */

    /* --- skills start --- */
    .skills-box {
        gap: 30px;
    }

    .skill__nav {
        gap: 12px;
    }

    .skill-name {
        font-size: 22px;
        padding: 6px 25px;
    }

    .left, .right {
        margin: 48px 0;
    }
    /* --- skills end --- */

    /* ------------------------ */

    /* --- works start --- */
    .works__holder {
        gap: 25px;
    }

    .work__img {
        width: 280px;
    }

    .work__desc {
        width: 250px;
    }
    /* --- works end --- */

    /* ------------------------ */

    /* --- hobbies start --- */
    .hobbies__holder {
        justify-content: flex-start;
        gap: 15px;
    }

    .hobbies__box {
        margin: 3px;
    }
    /* --- hobbies end --- */
}

/* --- table @media end --- */